.card__name-like {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 22px 20px 22px 21px;
    margin: 0;
    box-sizing: border-box;
    height: 88px;
}  