.header {
    box-sizing: border-box;
    width: calc(100% - 2*200px);
    min-height: 74px;
    border-bottom: 1px solid rgba(54, 54, 54, .7)
}

@media screen and (max-width: 1060px) {
    .header {
        width: calc(100% - 2*100px)
    }
}

@media screen and (max-width: 580px) {
    .header {
        width: 100%;
        padding-left: 27px;
        min-height: 56px;
    }
}