.card__delete {
    padding: 0;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/deleteCard.svg);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    transition: opacity .1s ease-in;
}

.card__delete:hover {
    opacity: .7;
}